<!--<nav class="navbar navbar-expand-lg navbar-light bg-light  box-shadow fixed-top">-->
<!--<a class="navbar-brand" (click)="sidenav.open()"><b>米铺闲趣</b></a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<form class="form-inline">-->
<!--<div class="input-group">-->
<!--<input class="form-control" type="text" placeholder="Search" style="width:300px">-->
<!--<button class="input-group-addon">搜索</button>-->
<!--</div>-->
<!--</form>-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Link</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link disabled" href="#">Disabled</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<md-sidenav-container>
  <md-sidenav #sidenav opened="true" mode="side" class="box-shadow">
    <app-side-nav></app-side-nav>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
<app-float-btns></app-float-btns>








