<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 ">
      <div class="row">
        <div class="col-12 mb-3" *ngFor="let i of [1,2,3,4,5,6,7]">
          <div class="card box-shadow">
            <div class="card-body">
              <img src="http://img10.ccnxs.cn/uploadfile/hbase/201708/0821/HBC599AC4389FEEA_thumb_255_150.jpeg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="list-group rounded  box-shadow">
        <div class="list-group-item">
          <div class="card-body">12312312</div>
        </div>
        <div class="list-group-item"> ddd</div>
        <div class="list-group-item"> ddd</div>
        <div class="list-group-item"> ddd</div>
        <div class="list-group-item"> ddd</div>
        <div class="list-group-item"> ddd</div>
        <div class="list-group-item"> ddd</div>
      </div>
    </div>
  </div>
</div>
